
h1 {
color: black;
}
img {
    height: 400px;
}
.thirdDiv {
    height: 500px;
    width: 600px;
    background-color: blue;
    padding: 50px;
    border: 1px black;
}
.spanid {
    font-size: 18px;
    margin: 50px;
}
